.grid-section {

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 550px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__card {
    position: relative;

    img {
      display: block;
      width: 100%;
      border-radius: 4px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.2;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-white;
    font-size: 22px;
    line-height: 27px;
  }

  .card-5 {
    grid-column: 2 / 4;
  }

  .card-6 {
    grid-column: 1 / 3;
  }
}